@charset "utf-8";
/*초기화*/
body, h1, h2, h3, h4, ul, p, dl, dd, fieldset, figure, input, th, td { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; }
address { font-style: normal; }
fieldset { border: 0; }
table { border-collapse: collapse; }
hr { display: none; }
.hidden { position: absolute; left: -9999px; }
/*웹폰트 segoe*/
@font-face {
    font-family: segoe;
    src: url(../font/segoeui.ttf),
         url(../font/segoeui.eot),
         url(../font/segoeui.woff); 
}

@media screen and (max-width: 1200px) {
    #content { width: 100%; }
}

body { position: relative; min-width: 1200px; font-family: "Segoe UI", segoe, sans-serif; }

#header { display: flex; justify-content: center; align-items: center; 
          width: 100%; height: 100px; background-color: #fff; }
#header h1 {  width: 249px; position: absolute; top: 25px; left: 50px; }
#header h1 a { display: block; height: 51px;
               background: url(../image/logo.png) no-repeat; 
               text-indent: -9999px; }

#membership { position: absolute; top: 30px; right: 70px; }
#membership ul { display: flex; }
#membership ul li { position: relative; }
#membership .goLogin { padding-right: 10px; }
#membership .goJoin { padding-left: 10px; }
#membership .goLogin::after { content: ""; position: absolute; top:7px; right: 0;
                              height: 11px; border-right: 1px solid #bea082; }
#membership .goJoin::before { content: ""; position: absolute; top: 7px; left: 0;
                              height: 11px; border-left: 1px solid #82a0be;  }
#membership ul li a { color: #333; }

#gnb ul { display: flex; }
#gnb ul li { margin: 0 5px; }
#gnb ul li a { padding: 0 10px; color: #333; text-transform: uppercase; }
#gnb ul li a:hover { border-bottom: 3px solid #00bff3; }


#footerWrap { border-top: 1px solid #000; }
#footer { display: flex; justify-content: space-between; 
          width: 1200px; margin: 0 auto;
          padding: 23px 80px 30px 200px; box-sizing: border-box; 
          background: url(../image/logoFooter.png) no-repeat 54px 24px; }
#footer .info { display: center;  }
#footer .sns { display: flex; }
#footer .sns li { width: 33px; margin-left: 17px; }
#footer .sns li a { display: block; height: 33px; text-indent: -9999px; 
                    background: url(../image/bgSns.png) no-repeat; }
#footer .sns .twitter a { background-position-x: right; }